name: Build Muvio App

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

jobs:
  build-windows:
    name: Build Windows EXE
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Install dependencies
        run: pip install pyinstaller yt-dlp PyQt6

      - name: Download ffmpeg for Windows
        shell: pwsh
        run: |
          Invoke-WebRequest -Uri "https://www.gyan.dev/ffmpeg/builds/ffmpeg-release-essentials.zip" -OutFile "ffmpeg.zip"
          Expand-Archive ffmpeg.zip -DestinationPath "./ffmpeg_dir"
          $ffmpegExe = Get-ChildItem -Path "./ffmpeg_dir" -Recurse -Filter "ffmpeg.exe" | Select-Object -First 1
          Copy-Item $ffmpegExe.FullName "./ffmpeg.exe"

      - name: Build EXE
        shell: cmd
        run: >
          pyinstaller --windowed --onefile
          --icon="icon.ico"
          --add-data "logo.png;."
          --add-binary "ffmpeg.exe;."
          --name "Muvio"
          main.py

      - name: Upload Windows Artifact
        uses: actions/upload-artifact@v4
        with:
          name: muvio-windows
          path: dist/Muvio.exe
